/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

//TOPページのCSS

html,
body {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding: 0;
}

// link_toに対してホバー
a {
  color:white;
}

a:hover {
  color:  orange;
  text-decoration: none;
}

.profiler-results {
  display: none;
}

header {
  height: 70px;/*高さ指定*/
  width:100%;/*横幅指定*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color:#fff;
  padding: 20px;
  position: fixed;/*fixedを設定して固定*/
  z-index: 999;/*最前面へ*/
  top:0;/*位置指定*/
  left:0;/*位置指定*/
  }

  #logo {
    width: 100%;
    height: 70px;
    margin: 0 auto;
  }

  h1 {
    font-family: Hiragino Sans;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 50px;
  } 

  .profile-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: rgba(255,255,255,8);
    text-align: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .profile {
    float: left;
    width: 25%;
  }
  
  .profile-icon {
    position: relative; //relative（相対位置）
  }
  
  .profile-icon p {
    position: absolute; //absolute（絶対位置)
    top: 90px;
    width: 100%;
    color: white;
  }

  //プロフィールアイコンのサイズ変更
  .example1 {
    width: 80%;
    height: 80%;
  }
  
  //紹介文のclass
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    color: #b3aeb5;
  }

  .message-wrapper {
    text-align: center;
    background-color: #FF9872;
  }

  .message-wrapper h3 {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  footer {
    height: 75px;
    width: 100%;
    background-color: #FF4F02;
    display: inline-block;
  }

  footer p {
    padding-top: 28px;
  }
