.flex{
  display: flex;
  height: 350px;
  margin: 50px 100px;
}

img{
  display: inline-block;
  height: 100%;
  margin-right: 15px;
  margin-bottom: 15px;
}

.item p {
    font-size: 20px;
    margin-left: 50px;
}